body {
  background-image: url('../imgs/fundo_site.png');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'DM Sans', sans-serif;

}

.preto {
  background: #151515;
}

.azul {
  background-color: #a8d0ea;
}

.verde {
  background-color: #c7f80e;
}

.verde:hover {
  background-color: #c7f80e;
  color: #ffffff;
}


.zoom-hover {
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.10);
}


.fullscreen {
  height: 100vh;
  display: flex;
}

.logo-scroller {
  position: relative;
  overflow: hidden;
  display: block;
  gap: 2rem;
}

.logo-track {
  display: flex;
  width: max-content;
  min-width: 200%;
  animation: scrollLogos 25s linear infinite;
}

.track-2 {
  display: none;
}

.logo-track img {
  width: auto;
  margin: 0 1.5rem;
  object-fit: contain;
  height: 100px;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Mostrar/esconder elementos conforme o ecrã */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}


/* ===========================
   SCROLL DE LOGOS — MOBILE
   =========================== */

@media (max-width: 767px) {
  .logo-scroller {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .logo-track {
    width: max-content;
    min-width: 200%;
    animation-duration: 40s;
    height: 60px;
    margin: 0 auto;
  }

  .logo-track img {
    height: 60px;
    margin: 0 0.8rem;
  }

  .track-1 {
    display: flex;
    animation-name: scrollLogos;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  .track-2 {
    display: flex;
    animation-name: scrollLogosReverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes scrollLogosReverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  /* Mostrar/esconder no mobile */
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

.logo-scroller::before,
.logo-scroller::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  /* aumenta/diminui conforme o efeito desejado */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.logo-scroller::before {
  left: 0;
  background: linear-gradient(to right, #191f1f, rgba(21, 21, 21, 0));
}

.logo-scroller::after {
  right: 0;
  background: linear-gradient(to left, #1a1a1f, rgba(21, 21, 21, 0));
}